body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.square {
    width: 75%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
}

.Blackfilter {
    background: #000;
    width: 90%;
    height: 80%;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
    border-radius: 10px;
    z-index: 0;
}

.GreenRettangolo {
    width: 90%;
    height: 5%;
    background: lawngreen;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;
    margin-left: 50px;
}